* {
    box-sizing: border-box;
}


.fonte {
    font-family: 'Courier New', Courier, monospace;
}

/* ------------------ Header ------------------ */

header {
    background-color: coral;
    font-size: 30px;
    width: 1366px;
    height: 155px;
    border-style: solid;
    border-color: grey;
}

.back {
    float: right;
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
}

.headertext {
    font-size: 18px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------- Body ------------------- */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #ffd2c2;
    overflow-x: hidden;
}

/* ------------------ Footer ------------------ */

footer {
    background-color: coral;
    bottom: 0;
    width: 1366px;
    height: 120px;
    margin-top: 60px;
    font-size: small;
    border-style: solid;
    border-color: grey;
}

.textoFooter{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 8px;
}

/* ------------------ Menu ------------------ */

.botoes {
    display: flex;
    margin-top: 9%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.descricao {
    align-items: center;
    margin-right: 50px;
}

.float {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
    text-decoration: none;
    color: inherit;
}


/* ---------------- Cadastro ---------------- */

.cadastro{
    display: flex;
    align-items: center;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}
.send{
    display: flex;
    justify-content: center;
}